<!doctype html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <title>Acceuil</title>
	    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
	    <!----css3---->
        <link rel="stylesheet" href="assets/css/custom.css">
		<!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
      <link rel="icon" type="image/png" href="assets/img/pharmacie.png"/>
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <style>
          .wrapper {
     background-color: #EEEDED;
     min-height: 100vh;
     overflow-x: hidden;
     }
      </style>
  </head>
  <body>
<div class="wrapper">


<div class="body-overlay"></div>


        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3><img src="assets/img/pharmacie.png" class="img-fluid"/><span style="color:#005761;">MedConnect</span></h3>
            </div>
            <ul class="list-unstyled components">
			<li  class="active">
                    <a href="/Dashboard" class="dashboard"><i class="material-icons">dashboard</i><span>Dashboard</span></a>
                </li>
		      <div class="small-screen navbar-display">
				<li class="dropdown d-lg-none d-md-block d-xl-none d-sm-block">
                    <a href="#profileSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="material-icons">person</i><span>User</span>
                    </a>
                    <ul class="collapse list-unstyled menu" id="profileSubmenu">
                        <li><a href="#" id="profileLink">Profile</a></li>
                        <li> <a  href="/" id="logoutLink">Logout</a></li>
                    </ul>
                </li>
				</div>
                <li class="manage-secretaries" style="display: none;">
                    <a href="/secretaires" ><i class="material-icons">people</i><span>Gérer les Secrétaires</span></a>
                </li>
                <li class="manage-doctors" style="display: none;">
                    <a href="/docteur" ><i class="material-icons">people</i><span>Gérer les Docteurs</span></a>
                </li>
                <li class="manage-patients" style="display: none;">
                    <a href="/patient" ><i class="material-icons">people</i><span>Gérer les Patients</span></a>
                </li>
                <li class="manage-specialities" style="display: none;">
                    <a href="/specialites" ><i class="material-icons">people</i><span>Gérer les spécialités</span></a>
                </li>
                <li class="manage-schedules" style="display: none;">
                    <a href="/Calendar" ><i class="material-icons">library_books</i><span>Gérer les Horaires</span></a>
                </li>
                <li class="manage-appointement" style="display: none;">
                    <a href="/rdvsecretaire" ><i class="material-icons">book</i><span>Gérer les Rendez vous</span></a>
                </li>
                <li class="manage-historique" style="display: none;">
                    <a href="/Historique" ><i class="material-icons">history</i><span>Historique</span></a>
                </li>
            </ul>
        </nav>
		
		

        <!-- Page Content  -->
        <div id="content">
		
		<div class="top-navbar">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="d-xl-block d-lg-block d-md-mone d-none">
                        <span class="material-icons">arrow_back_ios</span>
                    </button>
					
					<a class="navbar-brand" href="#"> Dashboard </a>

                    <button class="d-inline-block d-lg-none ml-auto more-button" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="material-icons">more_vert</span>
                    </button>

                    <div class="collapse navbar-collapse d-lg-block d-xl-block d-sm-none d-md-none d-none" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">   
                            <li class="dropdown nav-item">
                                <a href="#" class="nav-link" data-toggle="dropdown">
                                    <span class="material-icons">person</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" id="profileLink2">Profile</a></li>
                                    <li> <a href="/" id="logoutLink2">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
	    </div>


            <div class="main-content">

                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="card card-stats shadow">
                            <div class="card-header">
                                <div class="icon icon-warning">
                                    <span class="material-icons">person</span>
                                </div>
                            </div>
                            <div class="card-content">
                                <p class="category"><strong>Médecins</strong></p>
                                <h3 class="card-title" th:text="${nombreMedecins}"></h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="card card-stats shadow">
                            <div class="card-header">
                                <div class="icon icon-rose">
                                    <span class="material-icons">event</span>
                                </div>
                            </div>
                            <div class="card-content">
                                <p class="category"><strong>Rendez-vous</strong></p>
                                <h3 class="card-title" th:text="${nombreRendezVous}"></h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="card card-stats shadow">
                            <div class="card-header">
                                <div class="icon icon-success">
                                    <span class="material-icons">account_circle</span>
                                </div>
                            </div>
                            <div class="card-content">
                                <p class="category"><strong>Patients</strong></p>
                                <h3 class="card-title" th:text="${nombrePatients}"></h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="card card-stats shadow">
                            <div class="card-content">
                                <canvas id="appointmentChart" style="max-height: 45vh;" ></canvas>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">local_offer</i> <span>Statistiques concernant les rendez-vous</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="card card-stats shadow">
                            <div class="card-content">
                                <canvas id="specialtyChart" height="200" style="max-height: 45vh;" ></canvas>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons text-info">info</i>
                                    <span>Statistiques concernant les docteurs</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/Dashboard.js"></script>
<script src="assets/js/role.js"></script>
<script>
    $(document).ready(function() {
        $.ajax({
            url: '/api/specialites',
            type: 'GET',
            success: function(data) {
                var filteredSpecialites = data.filter(function(specialite) {
                return !specialite.archive; // Filtrer celles avec archive false
            });

            if (filteredSpecialites.length > 0) {
                var labels = filteredSpecialites.map(function(specialite) {
                    return specialite.nom;
                });
                var data = filteredSpecialites.map(function(specialite) {
                    return specialite.docteurs.length;
                });
                    var specialtyChartCanvas = document.getElementById('specialtyChart').getContext('2d');
                    var specialtyChart = new Chart(specialtyChartCanvas, {
                        type: 'bar',
                        data: {
                            labels: labels,
                            datasets: [{
                                label: 'Nombre de médecins par spécialité',
                                data: data,
                                  backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                  borderColor: 'rgba(255, 99, 132, 1)',
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                } else {
                    console.error("Aucune donnée n'a été renvoyée par l'API.");
                }
            },
            error: function(xhr, status, error) {
                console.error(error);
            }
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function() {
      $.ajax({
          url: '/api/rdvs',
          type: 'GET',
          success: function(data) {
              // Filtrer les rendez-vous avec archive à false
              var filteredRDVs = data.filter(function(rdv) {
                  return !rdv.archive; // Filtrer ceux avec archive false
              });

              if (filteredRDVs.length > 0) {
                  // Compter le nombre de rendez-vous pour chaque statut
                  var confirmedCount = filteredRDVs.filter(function(rdv) {
                      return rdv.statut_RDV === 'confirmé';
                  }).length;

                  var pendingCount = filteredRDVs.filter(function(rdv) {
                      return rdv.statut_RDV === 'en attente';
                  }).length;

                  var cancelledCount = filteredRDVs.filter(function(rdv) {
                      return rdv.statut_RDV === 'annulé';
                  }).length;

                  // Calculer les pourcentages
                  var totalCount = confirmedCount + pendingCount + cancelledCount;
                  var confirmedPercentage = (confirmedCount / totalCount) * 100;
                  var pendingPercentage = (pendingCount / totalCount) * 100;
                  var cancelledPercentage = (cancelledCount / totalCount) * 100;

                  var appointmentData = {
                      labels: ['RDV confirmé', 'RDV en attente', 'RDV annulé'],
                      datasets: [{
                          label: 'Appointment Status',
                          data: [confirmedPercentage, pendingPercentage, cancelledPercentage],
                          backgroundColor: [
                              'rgba(75, 192, 192, 0.5)',
                              'rgba(255, 206, 86, 0.5)',
                              'rgba(255, 99, 132, 0.5)'
                          ],
                          borderColor: [
                              'rgba(75, 192, 192, 1)',
                              'rgba(255, 206, 86, 1)',
                              'rgba(255, 99, 132, 1)'
                          ],
                          borderWidth: 1
                      }]
                  };

                  // Créer le graphique à secteurs des rendez-vous
                  var appointmentChartCanvas = document.getElementById('appointmentChart').getContext('2d');
                  var appointmentChart = new Chart(appointmentChartCanvas, {
                      type: 'pie',
                      data: appointmentData,
                      options: {
                          // Ajoutez des options supplémentaires ici si nécessaire
                      }
                  });
              } else {
                  console.error("Aucune donnée de rendez-vous non archivée n'a été renvoyée par l'API.");
              }
          },
          error: function(xhr, status, error) {
              console.error(error);
          }
      });
  });

</script>

  </body>
  </html>